<div class="row justify-content-center mt-2">
    <div class="col-md-8">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Permutate Web</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Welcome to Permutate Web. My name is Jordan Woodruff, and this is my personal website.
                I am a software developer with 15 years experience in the design, development, and implementation
                of more than 30 different applications.
            </p>
            <p>
                I built this website from the ground up using a private server hosted on Ubuntu Linux. It hosts a number
                of my personal apps, which you can explore and view using the list below. All the apps you see are built
                with Angular, and some of them use .NET Core for backend API.
            </p>

        </mat-card-content>
        <mat-card-actions>
            <a href="assets/jmwresume.pdf" target="_blank">Resume</a>
            <a href="mailto:jordan_m_woodruff@yahoo.com" class="ms-2">Contact</a>
        </mat-card-actions>
    </mat-card>
</div>