<div class="row justify-content-center mt-2" [style.width]="'100%'">
    <mat-card appearance="outlined" [style.width]="'75%'">
        <mat-card-header>
            <mat-card-title>Permutate Web</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Welcome to Permutate Web. My name is Jordan Woodruff, and this is my personal website.
                I am a software developer with 15 years experience in the design, development, and implementation
                of more than 30 different applications.
            </p>
            <p>
                I built this website from the ground up using a private server hosted on Ubuntu. It hosts a number
                of my personal apps, which you can explore and view using the list below. 
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a href="assets/jmwresume.pdf" target="_blank">Resume</a>
        </mat-card-actions>
    </mat-card>
</div>